
{% extends 'contacts/base.html' %}
{% block title %}تحديث جهة اتصال{% endblock %}
{% block content %}
  <div class="container mt-4">
    <h4 class="mb-4 text-center py-3">تحديث جهة اتصال</h4>
    <form method="post" id="NewContactForm">
      {% csrf_token %}
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="float-right" for="{{ form.name.id_for_label }}">الأسم:</label>
          {{ form.name }}
        </div>
        <div class="form-group col-md-6">
          <label class="float-right" for="{{ form.phone1.id_for_label }}">رقم تليفون 1:</label>
          {{ form.phone1 }}
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="float-right" for="{{ form.phone2.id_for_label }}">رقم تليفون 2:</label>
          {{ form.phone2 }}
        </div>
        <div class="form-group col-md-3 col-sm-6 align-self-center">
          <div class="form-check">
            {{ form.customer }}
            <label class="form-check-label" for="{{ form.customer.id_for_label }}">عميل</label>
          </div>
        </div>
        <div class="form-group col-md-3 col-sm-6 align-self-center">
          <div class="form-check">
            {{ form.vendor }}
            <label class="form-check-label" for="{{ form.vendor.id_for_label }}">مورد</label>
          </div>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="float-right" for="{{ form.address1.id_for_label }}">العنوان 1:</label>
          {{ form.address1 }}
        </div>
        <div class="form-group col-md-6">
          <label class="float-right" for="{{ form.address2.id_for_label }}">العنوان 2:</label>
          {{ form.address2 }}
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="float-right" for="{{ form.city.id_for_label }}">المدينة:</label>
          {{ form.city }}
        </div>
        <div class="form-group col-md-6">
          <label class="float-right" for="{{ form.province.id_for_label }}">المحافظة:</label>
          {{ form.province }}
          <datalist id="ProvinceList">
            {% for key, value in form.fields.province.choices %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </datalist>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="float-right" for="{{ form.price_list.id_for_label }}">قائمة الأسعار:</label>
          {{ form.price_list }}
        </div>
        <div class="form-group col-md-4">
          <label class="float-right" for="{{ form.discount.id_for_label }}">نسبة الخصم:</label>
          {{ form.discount }}
        </div>
        <div class="form-group col-md-4">
          <label class="float-right" for="{{ form.shipping_cost.id_for_label }}">تكلفة الشحن:</label>
          {{ form.shipping_cost }}
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="float-right" for="{{ form.payment_method.id_for_label }}">طريقة الدفع:</label>
          {{ form.payment_method }}
        </div>
        <div class="form-group col-md-2 col-sm-6 align-self-center">
          <div class="form-check">
            {{ form.manufacturing }}
            <label class="form-check-label" for="{{ form.manufacturing.id_for_label }}">مصنع</label>
          </div>
        </div>
        <div class="form-group col-md-2 col-sm-6 align-self-center">
          <div class="form-check">
            {{ form.decoration }}
            <label class="form-check-label" for="{{ form.decoration.id_for_label }}">زخرفة</label>
          </div>
        </div>
        <div class="form-group col-md-2 col-sm-6 align-self-center">
          <div class="form-check">
            {{ form.warehouse }}
            <label class="form-check-label" for="{{ form.warehouse.id_for_label }}">مخزن</label>
          </div>
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="float-right" for="{{ form.details.id_for_label }}">تفاصيل أخرى:</label>
          {{ form.details }}
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary btn-block">تحديث</button>
    </form>
  </div>
{% endblock %}
